* {
  margin: 0;
  padding: 0;
}

// # for Register
.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error {
    font-size: 12px;
    color: red;
  }

  input {
    width: 200px;
    height: 30px;
    margin: 10px;
  }
  button {
    width: 200px;
    height: 30px;
    border: none;
    background-color: rgb(9, 29, 29);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
  }
  p {
    margin-top: 15px;
  }
}

// # for login
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error {
    font-size: 12px;
    color: red;
  }

  input {
    width: 200px;
    height: 30px;
    margin: 10px;
  }
  button {
    width: 200px;
    height: 30px;
    border: none;
    background-color: rgb(5, 5, 31);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
  }
  p {
    margin-top: 15px;
  }
}

// # navbar

.navbar {
  top: -1;
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: aliceblue;

  ul {
    padding: 15px;
    display: flex;
    justify-content: end;
    margin: 7px;
    gap: 20px;
    text-decoration: none;
  }
  ul:hover {
    color: yellow;
    font-size: 18px;
  }
  a {
    // gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
  }
  a:hover {
    color: teal;
    font-size: 22px;
  }
  .dark {
    background-color: rgb(1, 1, 7);
    color: white;
  }
}

.profile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    input {
      width: 200px;
      height: 30px;
      margin: 10px;
      border: none;
    }

    button {
      width: 250px;
      height: 30px;
      margin: 10px;
      border: none;
      background-color: teal;
      color: white;
    }
    button:hover {
      color: white;
      background-color: rgb(5, 61, 61);
    }
  }
}
